# Dependencies
node_modules/

# Build output (optional)
dist/
*.min.*.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Env files (if added later)
.env
.env.*

react.md